*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


.tittle{
    background-image: url(../images/index-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif; 
    grid-area: "header";
}


main{
    display: grid;
    grid-template-areas: "header header header "
                          "main  main   aside "
                          "main  main  aside ";
}

.input-field{
    margin: 5px;
}

.input-buscador{
    margin-top: 5px;
    padding: 5px;
}

.tarjetas{ 
    margin: 5px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-area: "main";
}

.tarjeta {
    text-align: center;
    margin: 20px;
    padding: 10px;
    max-width: 305px;
    border: .0625rem solid #ccc;
    border-radius: .5rem;
    -webkit-box-shadow: 21px 18px 8px -23px rgba(114, 114, 115, 1);
    -moz-box-shadow: 21px 18px 8px -23px rgba(114, 114, 115, 1);
    box-shadow: 21px 18px 8px -23px rgba(114, 114, 115, 1);
}

.tarjeta img {
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}


.carrito{
    width: 100%;
    border: palegoldenrod 1px solid;
    background:linear-gradient(#ffff, pink);
    grid-template-areas: "aside";
    padding: 10px;
}

.btnCarrito  {
    border: none;
    font-size: 15px;
    color: black;
    background-color: aliceblue;
    padding: 10px;
    margin-left: 15px;
    border-radius: 10px;
}

.btnBuscar{
    border: none;
    border-radius: 5px;
    background-color: violet;
    color: #FFF;
    padding: 10px;
}

.btnComprar{
    border: none;
    font-size: 20px;
    background-color: pink;
    color: #FFF;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
}

#cardTotal{
    padding: 10px;
    margin: 5px;
    font-size: 25px;
    background:linear-gradient(#ffff, pink);
}

.container-form{
    display: flex;
    
}

footer{
    padding: 5px;
    font-weight: bold ;
    text-align: center;
    background:linear-gradient(rgb(255, 181, 181), rgb(243, 50, 82));

}


.login.h3{
    text-align: center;
    background-color: pink;
    color: #FFF;
}

.formulario-card{
    margin-top: 10px;
    display: flex;
    background: linear-gradient(#cccc, #fff);
    flex-direction: column;
    align-items: center;
}

.card{
    padding: 10px;
    font-size: 28px;
}

.final h3{
    text-align: center;
    background-color: #fff;
}

.botones{
    display: flex;
    justify-content: center;
    margin: 15px
}

header h3{
    text-align: center;
    background: linear-gradient(#cccc, #fff);
    padding: 20px;
    font-size: larger;
}